{{#each model as |list|}}
  <div class="list-list">
    <h2 class="title">{{list.__str__}}</h2>
    <div class="description">
      {{#each list.items as |item|}}
        <li>
          {{list-items item=item}}
        </li>
      {{/each}}
    </div>
  </div>
  <button {{action "save" description}} class="btn btn-primary addbutton">Add</button>
  <button {{action "delete" list}} class="btn btn-danger removecard">Delete ToDo list</button>{{/each}}

