& {
  width: 100%;
  
  .card {
  
    border: 1px solid $black;
    margin-left: 15px;
    margin-right: 15px; 
    width: 30%;
    height: 150px;
    float: left;

    h2 {
      text-align: center;
    }

    ul{

      li {
        list-style-type: none;
      }
    }  
    
    .docb {
      float: right;
      margin-top: -15px;
      margin-right: 60px;
    }
  }
}
