<div class="card">
  <h2>{{room.name}}</h2>
  <ul>
    {{#each tasks as |task|}}
      <li>
        {{task.__str__}}:<input type="checkbox" checked={{task.done}} onChange={{action 'toggleDone' task}}>
      </li>
    {{/each}}
  </ul>  
</div>
